.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    opacity: 1;

    width: 100%;
    height: 100%;

    position: relative;

    animation: fadein 1s ease;
}

.infoText {
    max-width: 50%;
    position: inherit;
    z-index: 2;

    font-size: 1.2rem;
}

.head {
    position: relative;
}

.imgContainer {
    width: 15rem;
    height: 15rem;

    z-index: 2;

    animation: imageFloating 5s infinite;

}

.dark h2 {
    color: var(--color-hello-dark);
}

.light h2 {
    color: var(--color-hello-light);
}

.about h2 {
    position: absolute;

    font-family: relieve;
    text-transform: uppercase;
    font-style: italic;
    opacity: 1;

    z-index: 1;

    font-size: 10rem;

    animation: fadein 1s ease;
}

.dark .imgContainer {
    box-shadow: 0 0 10px 10px var(--bg-dark);
}

.light .imgContainer {
    box-shadow: 0 0 10px 10px #c1c1c1fc;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: sticky;

    animation: imageFloating 5s infinite;
}

.infoContainer {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.info h3 {
    font-size: 2.5rem;
    line-height: 0;
    color: var(--contrast-orange);
}

.info p {
    text-align: center;
    font-size: 1.2rem;
}

.infoLarge {
    max-width: 80%;
}

.infoExperience {
    margin-top: 1.3rem;
}

.infoContainer .stack {
    display: flex;
    align-items: center;
    gap: 2rem;

    position: absolute;
    bottom: -3rem;
}

.infoContainer .stack .iconContainer {
    border: none;
    width: 2.5rem;
    height: 2.5rem;

    display: grid;
    place-items: center;
}

.infoContainer .stack .iconContainer svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dots {
    display: flex;
    flex-wrap: wrap;
    width: 7rem;
    gap: 1rem;

    position: absolute;
    top: 0;
    left: -6rem;

    z-index: 0;
}

.dots span {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}

.dotsDark span {
    background-color: var(--color-hello-light);
}

.dotsLight span {
    background-color: var(--contrast-orange);
}

.dots2 {
    display: flex;
    flex-wrap: wrap;
    width: 7rem;
    gap: 1rem;

    position: absolute;
    bottom: 7rem;
    right: 10rem;

    z-index: 1;

}

.dots2 span {
    width: 1rem;
    height: 1rem;
    background-color: var(--color-hello-light);
    border-radius: 100%;
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

@keyframes imageFloating {
    0% {
        border-radius: 28% 72% 39% 61% / 41% 59% 41% 59%   ;
    }

    50% {
        border-radius: 57% 43% 65% 35% / 72% 35% 65% 28% ;
    }

    100% {
        border-radius: 28% 72% 39% 61% / 41% 59% 41% 59%   ;
    }

}



