.projects {
    display: flex;
    flex-direction: column;

    padding: 4rem 10rem;

    height: 100%;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);

    gap: 0.3rem;

    opacity: 1;

    height: 100%;

    position: relative;
}

.title {
    font-size: 4rem;
    line-height: 0;
}

.darkTitle {

    color: var(--color-hello-light)
}

.lightTitle {
    color: var(--contrast-blue);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seeMore {
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.darkBtn {
    color: var(--color-hello-light);
    border: 1px solid var(--color-hello-light);
}

.darkBtn:hover {
    background-color: var(--color-hello-light);
    color: var(--contrast-blue)
}

.lightBtn {
    color: var(--color-hello-dark);
    border: 1px solid var(--color-hello-dark);
}

.lightBtn:hover {
    background-color: var(--color-hello-light);
}