.projects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);

    padding: 12rem 10rem;

    gap: 0.3rem;

    opacity: 1;

    height: 80%;

    position: relative;

    animation: fadein 1s ease;
}

.projects h2 {
    position: absolute;

    font-family: relieve;
    text-transform: uppercase;
    font-style: italic;
    opacity: 1;

    z-index: 1;

    font-size: 10rem;

    animation: fadein 1s ease;
}

.projects div {
    border-radius: 0.5rem;
    position: relative;

    background-size: cover;

    width: 100%;
    height: 100%;

    border: 1px solid black;
    overflow: hidden;
}

.title {
    position: absolute;
    bottom: -3.5rem;
    right: 0.4rem;
    text-transform: uppercase;
    font-family: relieve;

    text-align: right;

    font-size: 2.8rem;
}

.dark .title {
    color: var(--bg-light);
}

.light .title {
    color: var(--contrast-blue);
}

.order {
    font-family: ostrich;
    font-size: 26rem;

    position: absolute;
    bottom: -40rem;
    left: 1rem;
    /*color: var(--bg-dark);*/
    color: var(--contrast-orange);
}

.date {
    position: absolute;
    right: 1rem;
    font-family: subjectivity;
}

.dark .date {
    color: var(--bg-light);
}

.light .date {
    color: var(--contrast-blue);
}

.stack {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stack .iconContainer {
    border: none;
    width: 5rem;
    height: 2rem;
}

.dark .stack .iconContainer {
    fill: chocolate;
}

.light .stack .iconContainer {
    color: chocolate;
}

.stack .iconContainer img {
    width: 100%;
    height: 100%;
}

.box1 {
    grid-area: 1 / 1 / 8 / 4;
    /*background-image: url("../../../assets/images/foro.png");*/
}

.box2 {
    grid-area: 1 / 4 / 5 / 6;
    /*background-image: url("../../../assets/images/readinglist.png");*/
}

.box3 {
    grid-area: 5 / 4 / 8 / 6;
    /*background-image: url("../../../assets/images/chat.png");*/
}

.box4 {
    grid-area: 8 / 1 / 10 / 6;
    /*background-image: url("../../../assets/images/ecommerce.png");*/
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}