.aside {
    width: 65vw;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}

.aside::-webkit-scrollbar {
    width: 0;
}

.dark h2 {
    color: var(--color-hello-dark);
}

.light h2 {
    color: var(--color-hello-light);
}

@media screen and (max-width: 600px) {
    .aside {
        width: 100vw;
    }
}




