.aside {
    width: 65vw;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.aside::-webkit-scrollbar {
    width: 0;
}

.home {
    display: grid;
    place-items: center;
    opacity: 1;

    width: 100%;
    height: 100%;

    position: relative;

    animation: fadein 1s ease;
}

.dark h2 {
    color: var(--color-hello-dark);
}

.light h2 {
    color: var(--color-hello-light);
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    opacity: 1;

    width: 100%;
    height: 100%;

    position: relative;

    animation: fadein 1s ease;
}

.projects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);

    padding: 12rem 10rem;

    gap: 0.3rem;

    opacity: 1;

    height: 80%;

    position: relative;

    animation: fadein 1s ease;
}

