.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    padding: 3rem;
    margin-top: auto;
    margin-right: 0.5rem;
}

.footer a {
    width: clamp(7rem, 10vw, 2rem);
    display: grid;
    place-items: center;
}

.footer p {
    text-decoration: underline;
    font-size: clamp(0.8rem, 5vw, 1.2rem);
    transition: color 0.3s ease-in;
}

.footer p:hover{
    color: var(--contrast-terciary-light)
}


