.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0.5rem 2rem;

    position: relative;
}

.header::after {
    content: "";
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    position: absolute;
    top: 1rem;
    left: 1rem;

    background-color: var(--contrast-orange)

}

