.post {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 80%;
    height: fit-content;
    opacity: 0;
    margin-top: 1rem;

    animation: appearing 0.5s ease forwards;

    border-bottom: 1px solid #c1c1c1;
}

.post h3 {
    color: var(--contrast-orange);
    text-transform: uppercase;
    font-size: 2rem;

    cursor: pointer;
    transition: color .5s ease;
}

.post h3:hover {
    color: var(--contrast-blue)
}

.post h4 {
    line-height: 0.3rem;
    font-family: cooper-hewitt, sans-serif;
}

.post p {
    font-size: 1.3rem;
}

.postInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.postInfo span {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 5rem;
    background-color: var(--contrast-orange);
}

@keyframes appearing {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .post {
        width: 90vw;
    }

    .post h3 {
        font-size: 1.2rem;
    }

    .post h4 {
        font-size: 0.8rem;
    }

    .post p {
        font-size: 1rem;
    }

    .postInfo span {
        width: 0.6rem;
        height: 0.6rem;
    }
}