.home {
    display: grid;
    place-items: center;
    opacity: 1;

    width: 100%;
    height: 100%;

    position: relative;

    animation: fadein 1s ease;
}

.title {
    position: absolute;

    text-transform: uppercase;
    font-style: italic;
    opacity: 1;

    z-index: 1;

    font-size: 15rem;

    animation: fadein 1s ease;
}

.textContainer {
    max-width: 60%;
    font-size: 2rem;
    z-index: 2;
    text-align: center;
}

.textContainer span {
    font-weight: bold;
    color: var(--contrast-orange);
}

.scrollDot {
    position: absolute;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--contrast-orange);
    border-radius: 1rem;

    animation: scrollAction 2s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes scrollAction {
    0% {
        bottom: 5rem;
        transform: scaleY(1);
    }

    25% {
        transform: scaleY(2);
    }

    50% {
        bottom: 8.5rem;
        transform: scaleY(1);
    }

    75% {
        transform: scaleY(2);
    }

    100% {
        bottom: 5rem;
        transform: scaleY(1);
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}



