.home {
    width: clamp(20rem, 60vw, 60rem);
    margin: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 0 0 2rem;
    flex-grow: 1;
}

.text {
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    text-align: justify;
    background-color: var(--bg-dark);
    padding-bottom: 2rem;
    z-index: 1;
}

.name {
    color: var(--contrast-primary-light);
    font-weight: bold;
}

.work {
    color: var(--contrast-primary-light);
    font-weight: bold;
}

.company {
    color: var(--contrast-terciary-light);
    font-weight: bold;
    text-decoration: underline;
}

.home::after {
    content: "";
    bottom: 0;
    position: absolute;
    width: 2px;
    height: 90%;
    background-color: var(--contrast-primary-light);
}

.infinity {
    position: relative;
    width: 2.1rem;
    height: 1rem;
}

.infinity:before,
.infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height:  0.5rem;
    border: 0.2rem solid var(--contrast-primary-light);
    -moz-border-radius: 0.9rem  0.9rem 0  0.9rem;
    border-radius:  0.9rem  0.9rem 0  0.9rem;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius:  0.9rem  0.9rem  0.9rem 0;
    border-radius:  0.9rem  0.9rem  0.9rem 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
