@font-face {
    font-family: 'brolimo';
    src: url('./assets/fonts/brolimo/BROLIMO-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'subjectivity';
    src: url('./assets/fonts/subjectivity/Subjectivity-Light.otf') format('opentype');
}

@font-face {
    font-family: 'merry';
    src: url('./assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

:root {
    --bg-dark: #252525;
    --bg-dark-light: #343434;

    --contrast-primary: #FF6000;
    --contrast-primary-light: #FFA559;
    --contrast-secondary-light: #FFE6C7;

    --contrast-terciary-light: #75C2F6;

    --color-light: #fff;
    --color-disabled: #e2e2e2;
}

body {
    font-family: merry;
    background-color: var(--bg-dark);
    color: var(--color-light);
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
}

section {
    width: clamp(20rem, 55vw, 50rem);
    margin: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 0 0 2rem;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: brolimo;
}

