@font-face {
    font-family: 'brolimo';
    src: url('./assets/fonts/brolimo/BROLIMO-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'subjectivity';
    src: url('./assets/fonts/subjectivity/Subjectivity-Light.otf') format('opentype');
}

@font-face {
    font-family: 'merry';
    src: url('./assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}



@font-face {
    font-family: 'cooper-hewitt';
    src: url('./assets/fonts/cooper-hewitt/CooperHewitt-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'relieve';
    src: url('./assets/fonts/relieve/Relieve\ Demo.ttf') format('truetype');
}

:root {
    --bg-dark: #1e1d27fc;
    --bg-light: #F0F0F0;

    --color-hello-light: #e5e5e5;
    --color-hello-dark: #2e2c34;

    --contrast-orange: #F45050;
    --contrast-yellow: #F9D949;
    --contrast-blue: #3C486B;
}

body {
    font-family: merry;
    overflow: hidden;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    height: 100vh;
    flex-grow: 1;

    scroll-behavior: smooth;
}

p {
    font-family: subjectivity;
}

.dark {
    background-color: var(--bg-dark);
    color: var(--bg-light);
}

.light {
    background-color: var(--bg-light);
}


a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: cooper-hewitt;
}



