.card {
    border-radius: 0.5rem;
    position: relative;

    background-size: cover;

    width: 100%;
    height: 100%;

    overflow: hidden;

    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0);
}

.dark {
    color: var(--bg-light);
    background-color: var(--bg-dark);
    border: 1px solid var(--color-hello-light);
    transition: all 0.3s ease;
}

.light {
    color: var(--contrast-blue);
    background-color: var(--bg-light);
    border: 1px solid var(--bg-dark);
    transition: all 0.3s ease;
}

.dark:hover {
    background: linear-gradient(308deg, rgba(30,29,39,1) 0%, rgba(131,53,58,0.35) 90%, rgba(244,80,80,0.2) 100%);
}

.light:hover {
    background: linear-gradient(308deg, rgba(240,240,240,1) 0%, rgba(243,120,120,0.35) 90%, rgba(244,80,80,0.2) 100%);}

.title {
    position: absolute;
    bottom: -2.8rem;
    right: 0.8rem;
    text-transform: uppercase;

    text-align: right;

    font-size: 2.8rem;
}

.order {
    font-family: ostrich;
    font-size: 50rem;
    position: absolute;
    bottom: -75rem;
    left: 1rem;
    color: var(--contrast-orange);
}

.date {
    position: absolute;
    right: 1rem;
    font-family: subjectivity;
}

.stack {
    display: flex;
    align-items: center;
    height: 5rem;
    gap: 1rem;

    position: absolute;
    top: 2rem;
    right: 1rem;
}

.iconContainer {
    border: none;
    width: 2rem;
    height: 2rem;

    display: grid;
    place-items: center;
}

.iconContainer svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.iconModifier svg {
    margin-top: 0.18rem;
    width: 3.5rem;
    height: 3.5rem;
}

.box1 {
    grid-area: 1 / 1 / 8 / 4;
}

.box2 {
    grid-area: 1 / 4 / 5 / 6;
}

.box3 {
    grid-area: 5 / 4 / 8 / 6;
}

.box4 {
    grid-area: 8 / 1 / 10 / 6;
}

.selected {
    grid-area: 1 / 1 / 10 / 6;
    z-index: 2;
}

.notSelected {
    opacity: 0;
}
